name: Cinema Ticket Booking System API

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_test:
    strategy:
      matrix:
        os: [windows-latest]

    runs-on: ${{ matrix.os }}

    env:
      BUILD_CONFIGURATION: Release
      COVERAGEREPORT_FOLDER: coveragereport
      SWAGGER_FOLDER: swagger
      COMMENT_FILE: pull_request_comment.md

    steps:
      - name: Print OS
        run: echo "Running job ${{ github.job }} on ${{ matrix.os }}"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          dotnet-quality: 'ga'

      - name: Restore dependencies
        run: |
          dotnet restore
          dotnet tool restore

      - name: Build solution
        run: dotnet build --configuration ${{ env.BUILD_CONFIGURATION }} --no-restore

      - name: Run Tests
        run: dotnet test --configuration ${{ env.BUILD_CONFIGURATION }} --no-build --verbosity normal --collect:"XPlat Code Coverage"

      - name: Generate code coverage report
        uses: danielpalme/ReportGenerator-GitHub-Action@5.4.5
        with:
          reports: ../**/coverage.cobertura.xml
          targetdir: ${{ env.COVERAGEREPORT_FOLDER }}
          reporttypes: Html;MarkdownSummaryGithub

      - name: Upload code coverage report
        id: upload-coverage-report
        uses: actions/upload-artifact@v4
        with:
          name: CoverageReport
          path: ${{ env.COVERAGEREPORT_FOLDER }}

      - name: Generate Swagger JSON
        run: dotnet swagger tofile --output ${{ env.SWAGGER_FOLDER }}/swagger.json CinemaTicketBooking.Web/bin/${{ env.BUILD_CONFIGURATION }}/net8.0/CinemaTicketBooking.Web.dll v1
        env:
          DOTNET_ROLL_FORWARD: LatestMajor
          SkipDatabaseSetup: true

      - name: Upload Swagger JSON
        id: upload-swagger-json
        uses: actions/upload-artifact@v4
        with:
          name: SwaggerJson
          path: ${{ env.SWAGGER_FOLDER }}

      - name: Create pull request comment content
        run: |
          echo "# Open API definition" >> ${{ env.COMMENT_FILE }}
          echo "[Download](${{ steps.upload-swagger-json.outputs.artifact-url }})" >> ${{ env.COMMENT_FILE }}
          echo "" >> ${{ env.COMMENT_FILE }}
          echo "# Code coverage report" >> ${{ env.COMMENT_FILE }}
          echo "[Download](${{ steps.upload-coverage-report.outputs.artifact-url }})" >> ${{ env.COMMENT_FILE }}
          echo "" >> ${{ env.COMMENT_FILE }}
          cat ${{ env.COVERAGEREPORT_FOLDER }}/SummaryGithub.md >> ${{ env.COMMENT_FILE }}

      - name: Post pull request comment
        if: github.event_name == 'pull_request'
        run: gh pr comment ${{ github.event.pull_request.number }} --body-file ${{ env.COMMENT_FILE }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
